.card {
    margin-top: 40px;
}

.card_wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_lesson {
    position: relative;
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-top: 10px solid #7f78ac;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
    color: #212529;
    text-decoration: none;
}

.checked:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    border-radius: 0 0 3px 3px;
    background-color: #4AB89D;
    box-shadow: 0 0 35px rgb(0 0 0 / 20%);
}